.Chat {
  position:relative; 
  min-height:100vh;
}

.Chat-header {
  width:100%;
  height:auto;
  margin-top: 0;
}

.Chat-messageList {
  width: 100%; 
  height: 300px;
  @media (min-width: 768px) {
    height: 310px;
  }
  @media (min-width: 1024px) {
    height: 400px;
  }
  @media (min-width: 1440px) {
    height: 600px;
  }
}

.Chat-messageForm {
  // position: absolute;
  // left: 0;
  // bottom: 0;
  // right: 0;
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  bottom: 0;
}