$message-bg: rgba(#b9b9b9, .15);

.Message {
  background-color: $message-bg;
  margin-bottom: 7px;
  padding: 3px 0;
  border-radius: 5px;
}

.Message-user {
  font-weight: bold;
  @media (min-width: 768px) {
    text-align: right;
  }
}

.Message-messageText {
  font-style: italic;
  word-wrap: break-word;
}